body {
    /* background-color: rgb(241, 246, 250); */
    background-color: rgb(236, 237, 229);
}
img {
    max-width: 17rem;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: quiche-stencil, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 6rem;
    /* color:rgb(104, 71, 91); */
    color:rgb(57, 67, 58);
    text-align: center;
}

h2 {
    font-family: serif;
    font-size: 2rem;
    color:black;
}

a {
    font-family: quiche-stencil, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    color:rgb(135, 108, 120);
    text-align: justify;
}

p {
    font-family: quiche-stencil, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    color:rgb(135, 108, 120);
    text-align: justify;
}



/* unvisited link */
a:link {
    color: rgb(104, 71, 91);
    text-decoration: none;

  }
  
  /* visited link */
  a:visited {
    color: rgb(104, 71, 91);
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(97, 112, 99);
  }
  
  /* selected link */
  a:active {
    color: white;
  }









/* for 0 to 600px/mobile, use this */
@media (max-width: 600px) {
    h1{
        font-size: 2rem;
        
    }
    a{
        font-size: 0.75rem;
    }

    img {
        max-width: 4rem;
        height: auto;
    }
    
}

/* for 601px and up/laptops, desktops, use this */
@media (min-width: 601px){
    h1{
        font-size: 6rem;
    }
    a{
        font-size: 2rem;
    }
}
